<ion-view title="Camera" id="page2">
    <ion-content padding="true" style="background: url(img/mwjJTIsrTbiY683BVOLj_portal-h.jpg) no-repeat center;" class="has-header">
        <div class="list card">
            <div class="item item-divider">Record a photo of your sample:</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item class="item-thumbnail-left">
                        <img src="img/ewB5sSHUS9qbX9dukooD_camera-icon.png">
                        <h2>Tap to take a picture</h2>
                        <p></p>
                    </ion-item>
                </ion-list>
            </div>
            <div class="item item-divider">Save</div>
        </div>
        <div class="spacer" style="width: 286.4px; height: 20px;"></div>
        <div class="list card">
            <div class="item item-divider">Scan a barcode:</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item class="item-thumbnail-left">
                        <img src="img/DlFk1PSoK3nzJiV3f03w_Barcode-Scanner-Icon-512x219.png">
                        <h2>Tap to scan a barcode</h2>
                        <p></p>
                    </ion-item>
                </ion-list>
            </div>
            <div class="item item-divider">Save</div>
        </div>
    </ion-content>
</ion-view>