<ion-view title="Cloud" id="page4">
    <ion-content padding="true" style="background: url(img/xS5TaH3QHqnJ3Sa0bM83_portal-h.jpg) no-repeat center;" class="has-header">
        <div class="list card">
            <div class="item item-divider">Store your data on the cloud:</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item>Dropbox</ion-item>
                    <ion-item>Google Cloud</ion-item>
                    <ion-item>Microsoft OneBox</ion-item>
                </ion-list>
            </div>
            <div class="item item-divider">Save</div>
        </div>
    </ion-content>
</ion-view>