<ion-view title="CYTOLOGY PORTAL" id="page6">
    <ion-content padding="true" style="background: url(img/A2XOxD9TyGUhoXsN7ewR_portal-h.jpg) no-repeat center;" class="has-header">
        <div id="cYTOLOGYPORTAL-markdown2" style="color:#F1E0E0;font-size:20px;text-align:center;">
            <p>These online databases offer images of cell abnormalities for comparison with your sample</p>
        </div>
        <div class="list card">
            <div class="item item-divider">Select a database:</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item class="item-thumbnail-left" href="#" onclick="window.open('http://www.cytology-iac.org/educational-resources/virtual-slide-library', '_system', 'location=yes'); return false;">
                        <img src="img/YI4kqgVkQpyfGIiSFBMT_iac-favicon.ico">
                        <h2>International Academy of Cytology</h2>
                        <p></p>
                    </ion-item>
                    <ion-item class="item-thumbnail-left" href="#" onclick="window.open('http://137.189.150.85/cytopathology/Slide/CytologyImageSearch.asp', '_system', 'location=yes'); return false;">
                        <img src="img/tbkrxNnFTUyfSIvXag9F_CytologyImageSearch.jpg">
                        <h2>Cytopathology ImageSearch</h2>
                        <p></p>
                    </ion-item>
                    <ion-item class="item-thumbnail-left" href="#" onclick="window.open('http://cancer.digitalslidearchive.net/', '_system', 'location=yes'); return false;">
                        <img src="img/Z6Zshse5SHK6SnAon7Xx_CDSA_Slide_50.png">
                        <h2>CANCER Digital Slide Archive</h2>
                        <p></p>
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>